<section class="titles-container">

  <ul class="titles-list">
  {{#each}}
    <li class="title-item">
      {{#linkTo "title" this}}
      <img {{bindAttr src=cover}} class="title-media" alt="{{title}}" />
      <div class="title-caption">

        <h5 class="title-heading">{{title}}
          <span class="title-type">{{type}}</span></h5>

        <div class="title-author">{{author}}</div>

        <div class="title-stats">
          <div class="title-category">{{category}}</div>
          <div class="title-social">
            <i class="icon-bookmark">{{bookmarks}}</i>
            <i class="icon-eye-open">{{views}}</i>
            <i class="icon-thumbs-up">{{reviews}}</i>
            <i class="icon-heart">{{favourites}}</i>
            <i class="icon-comments">{{comments}}</i>
          </div>
        </div>

      </div>
      {{/linkTo}}
    </li>
  {{/each}}
  </ul>

  <div class="details-container">
    {{ outlet }}
  </div>

</section>
